*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 50px;
}

p{
  margin-bottom: 20px;
  text-align: justify;
}
.orange-color{
  color: orange;
}

section{
  display: flex;
  margin-bottom: 120px;
}

.half-width{
  width: 50%;
  padding: 5%;
}

.half-width img{
  width: 80%;
}

.link-button{
  text-decoration: none;
  background-image: linear-gradient(salmon, tomato);
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.top-banner{
  background-image: url("backgorund/top-banner.png");
  background-repeat: no-repeat;
}

.dream-big{
  background-image: url("backgorund/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}